[Unit]
Description=System Monitor Server
After=network.target

[Service]
WorkingDirectory=/opt/sysmon
ExecStart=/opt/sysmon/venv/bin/python /opt/sysmon/sysmon_server.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
